header{
    text-align: center;
    margin: 15px;
}

body{

}

.first-block{
    margin: 0px;
    background: gray;
    position: absolute;
    top: 55px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block{
    background-color: lightgray;
    height: 95%;
    width: 80%;
    border-radius: 25px;
}

article{
    display: flex;
    justify-content: center;
    text-align: center;
}

div > article {
    display: flex;
    align-items: center;
}

select{
    text-align: center;
    height: 20px;
    border: 5px;
}

div > section {
    margin-top: 7px;
}

section > selct {
    margin-top: 7px;
}

.EV {
    margin-left: 7px;
}

.EV_Input {
    width: 40px;
}

.first-pokemon{
    position: fixed;
    left: 0px;
    height: 100%;
    width: 50%;
}

.second-pokemon{
    position: fixed;
    right: 0px;
    height: 100%;
    width: 50%;
}